@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}
.header{
    display: flex;
    align-items: center;
    padding: 10px;
}
.header h1{
    width: 300px;
    margin-left: 10px;
}
.header img{
    width: 50px;
    margin-left: 10px;
}
img{
    display: block;
    margin-left: 10px;
}
.text{
    padding: 10px;
}
.text h2{
    font-size: 26px;
    margin-bottom: 10px;
}
.text h5{
    font-size: 18px;
    margin-bottom: 10px;
}
.text p{
    color: rgba(0, 0, 0, 0.526);
    line-height: 1.5;
}
